.button {
	height: 2.5rem;
	width: 2.5rem;

	border-radius: 50%;
	border: none;
	outline: none;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: transparent;
	cursor: pointer;
}

.button:disabled {
	cursor: default;
}

.button:hover:not(:disabled),
.button:focus:not(:disabled) {
	box-shadow: var(--shadow-sm);
}

.icon {
	height: 1.25rem;
	width: 1.25rem;
}

.normal {
	color: var(--color-black);
}

.error {
	color: var(--color-red);
}

.normal,
.error {
	background-color: transparent;
}

.normal:disabled,
.error:disabled {
	color: var(--color-lightgray);
}

.normalFilled {
	background-color: var(--color-black);
}

.errorFilled {
	background-color: var(--color-red);
}

.normalFilled,
.errorFilled {
	color: var(--color-white);
}

.normalFilled:disabled,
.errorFilled:disabled {
	background-color: var(--color-lightgray);
}
