.user {
	display: flex;
	align-items: center;
	justify-content: space-between;

	border: 1px solid gray;
	border-radius: 1rem;
	padding: 1rem;
	margin-bottom: 1rem;
}

.name {
	font-weight: bold;
	width: 60%;
}

.status {
	width: 20%;
}

.role {
	width: 20%;
	text-align: center;
}
